<% include ../partials/header %>

<div class="container text-center">
    <% include ../partials/messages %>
    <div class="jumbotron p-3">
        <h1 class="display-4">Where Dogs Find Their People</h1>
        <p class="lead">Thousands of adoptable dogs are looking for people. People like you.</p>
        <a class="btn btn-outline-primary" href="/dogs/new" role="button"><i class="fas fa-paw"></i> Add a new dog</a>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <% dogs.forEach(dog => { %>
        <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <div class="card">
                <img src="<%= dog.image %>" class="card-img-top border all-dogs" alt="<%= dog.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= dog.name %></h5>
                    <p class="card-text">
                        <%= dog.breed %> <br>
                        <%= dog.age %> <i class="fas fa-paw"></i> <%= dog.gender %> <br>
                    </p>
                    <a href="/dogs/<%= dog._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>