<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-around">
        <div class="col-8">
            <div class="card ml-3 mb-3">
                <img src="<%= dog.image %>" class="card-img-top show-dog" alt="<%= dog.name %>">
                <div class="card-body">
                    <h3 class="card-title"><%= dog.name %></h3>
                    <p class="card-text">
                        <ul class="list-inline">
                            <em>
                                <li class="list-inline-item"><%= dog.breed %></li>
                                <li class="list-inline-item"><i class="fas fa-paw"></i></li>
                                <li class="list-inline-item"> <%= dog.address %></li>
                            </em>
                        </ul>
                        <hr>
                        <ul class="list-inline">
                            <li class="list-inline-item"><%= dog.age %></li>
                            <li class="list-inline-item"><i class="fas fa-paw"></i></li>
                            <li class="list-inline-item"> <%= dog.gender %></li>
                            <li class="list-inline-item"><i class="fas fa-paw"></i></li>
                            <li class="list-inline-item"> <%= dog.size %></li>
                        </ul>
                        <hr>
                        <h4>Meet <%= dog.name %></h4>
                        <p><%- dog.description %></p>
                        <hr>
                        <em>Submitted by: <%= dog.author.username %> </em>
                    </p>
                    <% if (currentUser && dog.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning" href="/dogs/<%= dog._id %>/edit">Edit</a>
                    <form action="/dogs/<%= dog.id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-around">
        <div class="col-8">
            <div class="card ml-3 mb-3 bg-light">
                <div class="card-body">
                    <div class="text-right mb-2">
                        <a href="/dogs/<%= dog._id %>/comments/new" class="btn btn-success active" role="button"
                            aria-pressed="true">Add New Comment</a>
                    </div>
                    <div>
                        <% dog.comments.forEach( comment => { %>
                        <div>
                            <div class="d-inline"> <%= comment.text %> </div>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a class="btn btn-warning btn-sm" href="/dogs/<%= dog._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form action="/dogs/<%= dog.id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" class="d-inline">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <% } %>
                            <div class="float-right d-inline"><%= comment.timePassed %></div>
                            <div class="comment">
                                <small class="text-muted"> <%= comment.author.username %> </small>
                            </div>
                            <hr>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-4">
        <div class="col">
            <a class="btn btn-dark btn-sm" href="/dogs">Go Back</a>
        </div>
    </div>

</div>

<% include ../partials/footer %>